/*.mdl-grid {
    background-color: purple;
}

.mdl-cell {
    background-color: lime;
}

.mdl-layout__header {
    background-color: lightskyblue;
}

.mdl-layout__header-row {
    background-color: red;
}*/