<ul class="collection with-header">
    <li class="collection-header">
        <h4>Category</h4>
    </li>
    {{#each result}}
    <li class="collection-item">
        <a href="#/materials/{{this.id}}">{{this.title}}</a>
        <div class="secondary-content chip">{{this.category}}</div>
    </li>
    {{/each}}
</ul>