<div class="container">
       <div class="row z-depth-2 grey lighten-5">
              <form class="col s6 offset-s3">
                     <div class="row">
                            <div class="col s12">
                            </div>
                     </div>

                     <div class="row">
                            <div class="input-field col s12">
                                   <input id="username" type="text" class="validate" name="username">
                                   <label for="username">Username</label>
                            </div>
                     </div>
                     <div class="row">
                            <div class="input-field col s12">
                                   <input id="password" type="password" class="validate" name="password">
                                   <label for="password">Password</label>
                            </div>
                     </div>
                     <br />
                     <div class="row">
                            <button type="submit" name="btn_register" class="col s12 btn btn-large waves-effect green lighten-1">Login</button>
                     </div>
              </form>
       </div>
</div>