<div class="container">
    <div class="row z-depth-2">
        <form class="col s6 offset-s3">
            <div class="row">
                <div class="col s12"></div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" class="validate" name="title">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea" name="description"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="img" type="text" class="validate" name="img">
                    <label for="img">Image</label>
                </div>
            </div>
            <br />
            <div class="row">
                <button type="submit" name="btn_register" class="col s12 btn btn-large waves-effect green lighten-1">Add</button>
            </div>
        </form>
    </div>
</div>