<main class="mdl-layout__content forum-content">
    <div class="mdl-grid forum-content__layout">

        <div class="mdl-tabs mdl-js-tabs">
            <div class="mdl-tabs__tab-bar">
                <a href="#tab1" class="mdl-tabs__tab">Tab One</a>
                <a href="#tab2" class="mdl-tabs__tab">Tab Two</a>
                <a href="#tab3" class="mdl-tabs__tab">Tab Three</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="tab1">
                <p>First tab's content.</p>
            </div>
            <div class="mdl-tabs__panel" id="tab2">
                <p>Second tab's content.</p>
            </div>
            <div class="mdl-tabs__panel" id="tab3">
                <p>Third tab's content.</p>
            </div>
        </div>
    </div>
</main>
<div>Bau-bau</div>